*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Arimo', sans-serif;
}


header{
    background-color: #ee3026;
    color: white;
    padding: 10px ;
}

header .latest{
    width: 30%;
}

header .message{
    width: 70%;
}

nav .menu{
    width: 70%;
}
nav .logo{
    width: 30%;
}

   
nav .chattogram{
    display:inline-block;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #666;
   padding-left: 8px;
   font-weight: 400;
    }

nav .menu ul{
    text-align: right;
}

nav .menu ul li{
    display: inline-block;
}

nav .menu ul li a{
    font-size: 16px;
    color: #444;
    text-transform: capitalize;
    padding: 25px 20px;
    display: block;
    transition: 0.3s;
}

nav .menu ul li:hover a{
    color: red;
}

nav .menu ul li:last-child a{
    background-color: red;
    color: white;
}


#banner img{
width: 100%;
display: block;
}

#about{
    padding: 40px 0;
}

#about .about_img{
    width: 40%;
}

#about .about_img img{
    width: 100%;
    display: block;
}

#about .about_text{
   width: 60%;
 padding: 0 30px;
}

#about .about_text h2{
    color: #5b6b80;
    font-size: 32px;
    margin-bottom: 20px;
}
#about .about_text p{
 color: #777;
 font-size: 16px;
 line-height: 26px;
 margin-top: 16px;
}

#upcoming .container h2{
    font-family: 'Arimo', sans-serif;
    color: #444;
    font-size: 32px;
    font-weight: 400;
    background-color: #dddddda3;
    border-bottom: none;
    padding: 10px;
    text-align: center;
}



.body{
    width: 100%;
    display:flex;
    justify-content: center;
    font-family:'Arimo', sans-serif;
    
    
}

table{
    border-collapse: collapse;
    
}

.header-fixed{
    height: 500px;
    overflow: auto;
    margin-top: 30px;
    
   }

.header-fixed thead th{
        position: sticky;
        top: 0;
        background-color:#49596d;
        color:#fff!important;
        font-size: 20px;
        font-weight: 700;
        padding: 15px;
}

th,td{
    border: 1px solid #dddd;
    padding: 7px 68px;
    font-size: 16px;

}

tr:nth-child(odd){
    background-color: #f2f2f2;
}

td button{
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 20px;
    border: 0;
    padding: 10px 40px;
    font-weight: 400;
    border-radius: 5px;
    background: #49596d;
    transition: all linear .3s;
    
}
button:hover{
    background-color: red;
    transition: 0.5s;
    

}
/* Course part start css */
#course{
    background-color: #fff;
    padding-bottom: 40px;
}
#course h2{
font-family: 'Arimo', sans-serif;
color: #5b6b80;
font-size: 32px;
padding-top: 40px;

}
#course p{
font-family: 'Arimo', sans-serif;
color: #777;
font-size: 16px;
padding-top: 15px;
padding-bottom: 30px;
}
.course_item{
width:49%;
background: #f5f5f5;
border: 1px solid #ddd;
border-right: none;
margin-bottom: 15px;
}
.course_item_details{
    width:65%;
    padding:15px 10px 30px 10px;
}
.course_item_img{
    width:35%;
}
.course_item_img img{
    display:block;
    width:100%;
}
.course_item_details h3{
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
}
.course_item_details p{
font-size: 16px;
font-family: 'Arimo', sans-serif;
line-height: 26px;
padding-top: 10px;
}
.course_item_details a{
    display: block;
    width:50%;
    background-color: #49596d;
    margin-left: -10px;
    border-radius: 0 30px 30px 0;
color: #fff;
font-size: 16px;
font-family: 'Arimo', sans-serif;
padding:20px 10px 20px 30px;
transition:0.3s;
}
.course_item_details a:hover{
background-color: #e52c23;
}
#gallery{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 60px;
}
#gallery h2{
font-family: 'Arimo', sans-serif;
color: #5b6b80;
font-size: 32px;
padding-top: 40px;

}

#gallery{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 60px;
}
#gallery h2{
font-family: 'Arimo', sans-serif;
color: #5b6b80;
font-size: 32px;
padding-top: 40px;

}
/* Course part end css */

/* Gallery part start css */
#gallery{
padding-top: 50px;
}
#gallery p{
    margin-bottom: 30px;
    line-height: 50px;
}
.img{
    width: 32%;
    margin-bottom: 15px;
}
.img img{
    width: 100%;
}
/* Gallery part end css */

/* Form part start css */

#contact h2{
    font-family: 'Arimo', sans-serif;
    color: #5b6b80;
    font-size: 32px;
    }
#contact p{
    font-family: 'Arimo', sans-serif;
    color: #777;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 30px;
    }
#contact{
    padding-bottom:40px;
}
#contact input{
    width:48%;
}



#form p{
    margin-bottom: 30px;
}
.field{
    width: 49%;
    padding: 10px 0px;
}
.field input{
    width: 100%;
    padding: 10px 20px;
    margin-right: 20px;
    
}
.message{
    width: 100%;
}
.message textarea{
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    resize: none;
}
.button button{
    background: #49596d;
    padding: 10px 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    

}
.button button:hover{
    background-color: red;
    -webkit-transition: .5s;
    -webkit-transition: 1s;
    transition: 1s;
}
.button{
    margin: auto;
    padding-left: 500px;
    padding-bottom: 50px;
    
}
/* Form part end css */

/* footer part start css */
footer{
    background-color: #f5f5f5;;
}
.f_logo{
    width:30%;
    text-align: center;
    padding-top: 40px;
}
.f_logo h4{
    padding:20px 0 80px 0;
    color: #2c2c2c;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.f_contact{
    width:35%;
    padding: 40px 0px 0px 60px;
}
.f_contact h3,
.f_icon h3{
color: #4e5e73;
font-size: 24px;
font-family: 'Arimo', sans-serif;
font-weight: 400;
padding-bottom: 30px;
position: relative;
}
.f_contact h3::before,
.f_icon h3::before{
    content:'';
    position:absolute;
    width: 50px;
    height:3px;
    background-color:#ddd;;
    bottom:20px;
}
.f_contact address{
    font-style: normal;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #212529;
    text-align: left;
}
.f_icon{
    width:35%;
    padding: 40px 0 0 80px;
}
.f_icon a{
color: #444;
font-size: 18px;
font-family: 'Arimo', sans-serif;
}
.f_icon p{
font-size: 16px;
line-height: 24px;
color: #212529;
padding:15px 5px 0px 0;
}
.special{
    display: inline-block;
}
#p2{
    padding:0 0 0 0;
}
.f_icon ul{
    padding:10px 0 0 0;
}
.f_icon ul li{
    list-style: none;
    display:inline-block;
}
.f_icon ul li span{
    border: 1px solid #b8b8b8;
    border-radius:50%;
    padding: 8px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    transition:0.5s;
    color:#5c5c5c;
}
.f_icon ul li span:hover {
    background-color: #e52c23;
}
.f_icon ul li span:hover i{
    color:white;
}
.last_part{
    background-color: #fff;
    font-size: 16px;
    text-align:center;
    padding:15px 0;
}
/* footer part end css */